.header-container {
    display: flex;
    justify-content: center;
    background-color: #ffc637;
  }
  .header-element-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .logo {
    margin: 0;
    width: 300px;
    font-weight: 600;
    font-size: 20px;
    color: #475569;
    font-family: 'Roboto';
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    flex: 1;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 767px) {
    .nav-menu {
      display: none;
    }
  }
  
  .nav-link {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #475569;
    margin-right: 40px;
  }
  